.App {
  text-align: center;
  background: rgba(128, 128, 128, 0.041);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-right: 309px;
}

.nav-links a {
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  margin-right: 8px;
}

.nav-links a:last-of-type {
  margin-right: 0;
}

.nav-links a.active {
  border-bottom: 1px solid #1c5d76;
}
.smurfs{
  display: flex;
}
.smurf{
  display: inline-block; 
}
.smurfCard{
  border: 1px solid grey;
  border-radius: 21px;
  margin: 6px;
  width: 213px;
  display:inline-block;
}
